.form-group
  .input-group
    span.input-group-addon
      i.mdi.mdi-account-multiple-plus
    .fg-line
      tags-input.form-control(
        ng-model='$ctrl.newAdministrators',
        placeholder="{{ 'Type a name or email...' | translate }}",
        display-property='displayName',
        key-property='id',
        replace-spaces-with-dashes='false',
        on-tag-added="$ctrl.onTagAdded($tag)",
        on-tag-removed="$ctrl.onTagRemoved($tag)"
        add-from-autocomplete-only="true"
      )
        auto-complete(
          source='$ctrl.search($query)',
          min-length='1',
          debounce-delay='200',
          max-results-to-show= '20',
          templateUrl="/views/modules/auto-complete/attendees.html"
        )
